body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #89b4f2;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}
